.App {
  font-family: "Work Sans", sans-serif;
  background: rgb(56, 174, 245);
  background: linear-gradient(
    90deg,
    rgba(56, 174, 245, 1) 0%,
    rgba(255, 255, 255, 1) 49%,
    rgba(140, 179, 195, 1) 97%
  );
}
